p#pogrubienie_soltysek {
    font-size: 33px;
    color: #855CCF;
    font-weight: bold;
}

p#pochylona_soltysek {
    font-size: 38pt;
    color: #E9C06B;
    font-style: italic;
}

p#index_gorny_soltysek {
    font-size: 1.3cm;
    color: #998E1B;
    vertical-align: super;
}

p#index_dolny_soltysek {
    font-size: 2.1cm;
    color: rgb(53%, 100%, 100%);
    vertical-align: sub;
}

p#mono_soltysek {
    font-size: 43px;
    color: #19DE6B;
    font-family: monospace;
}

p#powiekszenie_soltysek {
    font-size: 50px;
    color: #533E9D;
    transform: scale(1.2);
}

p#pomniejszenie_soltysek {
    font-size: 20px;
    color: rgb(100%, 100%, 57%);
    transform: scale(0.8);
}
